<footer>
    TECLO - 927 272 134
    <div style="width: 100%; text-align: center; margin-top: 0.3%">
        <strong><label style="margin-right: 1%" class="text">Encuentranos en </label></strong>
        <img class="ic" src="img/fb.png">
        <img class="ic" src="img/instagram.png">
        <img class="ic" src="img/twitter.png">
        <img class="ic" src="img/yt.png">
    </div>
</footer>