<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Servicios</title>
</head>

<body>
    {{> navbar }}
    <div class="container">

        <br>        
        <div style="width: 50%; text-align: center">
            {{!-- <img src="img/img-home.jpg" width="100%" alt=""> --}}
        </div>  
        <br>
        <div class="row">
            <div class="col-md-6">
                <h1>Seleccione un curso</h1>
                <br>
                <br>
                <form action="modulos" method="post">
                    <select name="curso" class="form-control form-control-sm">
                        <option value="Java">Java</option>
                        <option value="PHP">PHP</option>
                        <option value=".NET">.NET</option>
                    </select>
                    <br>
                    <input class="btn btn-info" type="submit" value="Continuar">
                </form>                
            </p>
            </div>
        </div>
        <br>
    </div>


</body>

</html>