<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Inicio</title>
</head>
<body>
    {{> navbar }}
    <div class="container">
        <br>
            

        <div class="row">
            <div class="col-8">
                <h1>Instituto Tecnológico de Massachusetts</h1>
                <br>
                <br>
                <P>
                    El Instituto de Tecnología de Massachusetts es una universidad privada localizada en Cambridge, Massachusetts. Fundado en 1861 en respuesta a la creciente industrialización de los Estados Unidos, utilizó el modelo de universidades politécnicas e hizo hincapié en la instrucción de laboratorio.
                    El Instituto de Tecnología de Massachusetts es una universidad privada localizada en Cambridge, Massachusetts. Fundado en 1861 en respuesta a la creciente industrialización de los Estados Unidos, utilizó el modelo de universidades politécnicas e hizo hincapié en la instrucción de laboratorio.

                </P>
            </div>
            <div class="col-4">
                <br>
                <br>
                <img src="img/mit.jpg" class="img-thumbnail">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                <br>
                <br>
                <h1>Registrate a los mejores cursos online:</h1>
                <a href="/cursos"><h1>Inscribete</h1></a>
            </div> 
        </div>
        {{!-- <br>
        <!-- <p>Flatron Software ofrece implementar los sistemas adecuados para su empresa</p> -->
        <img width="50%" src="img/home.png" alt=""> --}}
    </div>
    <br>
    <br>
    

</body>
</html>